# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [18]:
import pandas as pd

In [5]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [182]:
chipo = pd.read_csv(address, sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [26]:
chipo[0:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [61]:
total_rows = df.count()
print(total_rows)

print(total_rows[0])
print(total_rows[1])
print(total_rows[2])
print(total_rows[3])
print(total_rows[4])

chipo.info()

df.shape[0]

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64
4622
4622
4622
3376
4622
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

4622

In [5]:
# Solution 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [41]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [42]:
len(df.columns)

5

5

In [60]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. Print the name of all the columns.

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

In [69]:
df.index = range(4622)
print(df.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 8. How is the dataset indexed?

RangeIndex(start=0, stop=4622, step=1)

In [106]:
chipo.mode()

   order_id  quantity     item_name choice_description item_price
0       926         1  Chicken Bowl        [Diet Coke]     $8.75

In [112]:
chipo.groupby('item_name').sum().max()

order_id    713926
quantity       761
dtype: int64

In [111]:
chipo_g = chipo.groupby('item_name').sum()
chipo_g.quantity.max()

761

In [134]:
chipo.item_name.mode()

0    Chicken Bowl
dtype: object

'Veggie Soft Tacos'

### Step 9. Which was the most-ordered item?

In [133]:
chipo_g = chipo.groupby('item_name').sum()
chipo_g.quantity.max()

761

In [122]:
chipo.item_name.mode()

0    Chicken Bowl
dtype: object

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [119]:
chipo.groupby('choice_description').sum().max()

order_id    123455
quantity       159
dtype: int64

In [121]:
chipo.choice_description.mode()

0    [Diet Coke]
dtype: object

In [117]:
chipo_g = chipo.groupby('item_name').sum()
chipo_g.quantity.max()

761

### Step 11. What was the most ordered item in the choice_description column?

In [151]:
df["quantity"].sum()

4972

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [ ]:
chipo['item_price'] = chipo['item_price'].str.replace('$','0')
chipo

In [206]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [203]:
chipo.item_price = chipo.item_price.astype(float)
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

4972

In [209]:
chipo['item_price'].dtype

dtype('float64')

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [214]:
chipo['item_price'].dtype

dtype('O')

In [213]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: str(x))
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [217]:
chipo_zz = chipo.groupby('item_price').sum()
chipo_zz

            order_id  quantity
item_price
1.09           84666       106
1.25          265250       264
1.5           130856       117
1.69           82040        99
1.99            1793         1
...              ...       ...
8.75          708246       730
8.9            16985        40
8.99          186817       246
9.25          366496       398
9.39           20992        17

[78 rows x 2 columns]

In [222]:
chipo.item_price = chipo.item_price.astype(float)
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [223]:
Total = chipo['item_price'].sum()
print ("item_price sum:",Total)

item_price sum: 34500.16

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [233]:
chipo.groupby('order_id').sum()

          quantity  item_price
order_id
1                4       11.56
2                2       16.98
3                2       12.67
4                2       21.00
5                2       13.70
...            ...         ...
1830             2       23.00
1831             3       12.90
1832             2       13.20
1833             2       23.50
1834             3       28.75

[1834 rows x 2 columns]

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [240]:
34500.16 / 1834

18.811428571428575

In [239]:
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['item_price']

18.81142857142869

1834

### Step 16. What is the average revenue amount per order?

In [31]:
# Solution 1

21.394231188658654

In [241]:
chipo.item_name.value_counts().count()

50

In [32]:
# Solution 2

21.394231188658654

### Step 17. How many different items are sold?

50